In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import joblib
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load train_dataset

df_train = pd.read_csv(r"data/customer_churn_dataset-training-master.csv")
df_train.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         440832 non-null  float64
 1   Age                440832 non-null  float64
 2   Gender             440832 non-null  object
 3   Tenure             440832 non-null  float64
 4   Usage Frequency    440832 non-null  float64
 5   Support Calls      440832 non-null  float64
 6   Payment Delay      440832 non-null  float64
 7   Subscription Type  440832 non-null  object
 8   Contract Length    440832 non-null  object
 9   Total Spend        440832 non-null  float64
 10  Last Interaction   440832 non-null  float64
 11  Churn              440832 non-null  float64
dtypes: float64(9), object(3)
memory usage: 40.4+ MB

In [4]:
df_train.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000
mean,225398.667955,39.373153,31.256336,15.807494,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.918550,12.442369,17.255727,8.586242,3.070218,8.258063,240.803001,8.596208,0.495477
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [5]:
df_train.iloc[0:1]

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0

In [6]:
df_train.iloc[0:1,:-1]

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0

In [7]:
df_train["Gender"].replace({"Male":1,"Female":0}, inplace=True)
df_train["Subscription Type"].replace({"Basic":0,"Standard":1, "Premium":2}, inplace=True)
df_train["Contract Length"].replace({"Monthly":0,"Quarterly":1, "Annual":2}, inplace=True)

In [8]:
# df_train["Contract Length"].value_counts()

In [8]:
df_train["Gender"].replace({"Male":1,"Female":0}, inplace=True)
df_train["Subscription Type"].replace({"Basic":0,"Standard":1, "Premium":2}, inplace=True)
df_train["Contract Length"].replace({"Monthly":0,"Quarterly":1, "Annual":2}, inplace=True)
df_train = df_train.dropna()
# df_train

In [9]:
print(df_train["Gender"].value_counts(normalize=True)*100)
print()
print(df_train["Subscription Type"].value_counts(normalize=True)*100)
print()
print(df_train["Contract Length"].value_counts(normalize=True)*100)

1.0    56.768111
0.0    43.231889
Name: Gender, dtype: float64

1.0    33.828760
2.0    33.726680
0.0    32.444559
Name: Subscription Type, dtype: float64

2.0    40.196265
1.0    40.044734
0.0    19.759001
Name: Contract Length, dtype: float64

In [10]:
# Churn data is balanced
print(df_train["Churn"].value_counts(normalize=True)*100)

1.0    56.71072
0.0    43.28928
Name: Churn, dtype: float64

In [11]:
#Spliting the feturea ans target column
X = df_train.drop(["CustomerID", "Churn"],axis=1)
y = df_train[["Churn"]]

In [12]:
# Spliting data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=10)

In [13]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((352665, 10), (88167, 10), (352665, 1), (88167, 1))

In [14]:
# Normalizing data with MinMax Scaller 
scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
# Training the Clasification model 
lr_model = LogisticRegression()
lr_model.fit(X_train_scaled,y_train)

LogisticRegression()

In [38]:
# Prediction

# Training the Logistic Model 
lr_model = LogisticRegression()
lr_model.fit(X_train_scaled,y_train)

y_pred = lr_model.predict(X_test_scaled)

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 87.12
Precision Score: 89.65
Recall Score: 87.29
F1 Score Score: 88.46

In [39]:
# Prediction

# Training the Dicision Tree
tr_model = DecisionTreeClassifier(criterion="gini", max_depth=4, random_state= 40)
tr_model.fit(X=X_train_scaled,y=y_train)

y_pred = tr_model.predict(X_test_scaled)

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 95.59
Precision Score: 100.00
Recall Score: 92.21
F1 Score Score: 95.94

In [16]:
# Prediction

# Training the Dicision Tree
rf_model = RandomForestClassifier(criterion="gini", max_depth=4, random_state= 40)
rf_model.fit(X=X_train_scaled,y=y_train)

y_pred = rf_model.predict(X_test_scaled)

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 96.49
Precision Score: 99.45
Recall Score: 94.32
F1 Score Score: 96.81

In [19]:
## Out of Logistic, DicisionTree and RandomforestClassifier 
## RandomforestClassifier has good performance hence moving forward with this model

## Save model

In [17]:
# Save model 
joblib.dump(rf_model, r"app/rf_chrun_model.pkl")

# Save scaler 
joblib.dump(scaler, r"app/scaler.pkl" )

['app/scaler.pkl']

In [21]:
## prediction on testing data

In [18]:

df_test = pd.read_csv(r"data/customer_churn_dataset-testing-master.csv")
df_train.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,0.0,39.0,14.0,5.0,18.0,1.0,2.0,932.0,17.0,1.0
1,3.0,65.0,0.0,49.0,1.0,10.0,8.0,0.0,0.0,557.0,6.0,1.0

In [20]:
# Load Model and Sacler

RF_Model = joblib.load(r"app/rf_chrun_model.pkl")
loaded_scaler = joblib.load(r"app/scaler.pkl")

y_pred = RF_Model.predict(X_test_scaled)

In [49]:
X_test_scaled.shape

(440832, 10)

In [41]:
# Prediction on testing data

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 96.49
Precision Score: 99.45
Recall Score: 94.32
F1 Score Score: 96.81

In [22]:
json_data = [
 {'CustomerID': 2.0,
  'Age': 30.0,
  'Gender': 'Female',
  'Tenure': 39.0,
  'Usage Frequency': 14.0,
  'Support Calls': 5.0,
  'Payment Delay': 18.0,
  'Subscription Type': 'Standard',
  'Contract Length': 'Annual',
  'Total Spend': 932.0,
  'Last Interaction': 17.0},

   {'CustomerID': 3.0,
  'Age': 65,
  'Gender': 'Male',
  'Tenure': 20,
  'Usage Frequency': 7,
  'Support Calls': 5.0,
  'Payment Delay': 3,
  'Subscription Type': 'Premium',
  'Contract Length': 'Monthly',
  'Total Spend': 400,
  'Last Interaction': 10}

]

In [21]:
def predict(json_data):
    df = pd.DataFrame(json_data)
    CustomerID_lst = df["CustomerID"].to_list()
    df.drop("CustomerID", axis=1,inplace=True)
    df["Gender"].replace({"Male":1,"Female":0}, inplace=True)
    df["Subscription Type"].replace({"Basic":0,"Standard":1, "Premium":2}, inplace=True)
    df["Contract Length"].replace({"Monthly":0,"Quarterly":1, "Annual":2}, inplace=True)

    # Normalizing data with MinMax Scaller 
    df_scaled= loaded_scaler.transform(df)
    prediction = RF_Model.predict(df_scaled)
 
    result = []
    for i in range(len(CustomerID_lst)):
        output = {"CustomerID": CustomerID_lst[i], "prediction":prediction[i]}
        result.append(output)
    return result

In [23]:
prediction = predict(json_data)
prediction

[{'CustomerID': 2.0, 'prediction': 1.0},
 {'CustomerID': 3.0, 'prediction': 1.0}]