In [150]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import joblib
import warnings
warnings.filterwarnings("ignore")

In [151]:
# Load train_dataset

df_train = pd.read_csv(r"data/customer_churn_dataset-training-master.csv")
df_train.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0

In [152]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         440832 non-null  float64
 1   Age                440832 non-null  float64
 2   Gender             440832 non-null  object
 3   Tenure             440832 non-null  float64
 4   Usage Frequency    440832 non-null  float64
 5   Support Calls      440832 non-null  float64
 6   Payment Delay      440832 non-null  float64
 7   Subscription Type  440832 non-null  object
 8   Contract Length    440832 non-null  object
 9   Total Spend        440832 non-null  float64
 10  Last Interaction   440832 non-null  float64
 11  Churn              440832 non-null  float64
dtypes: float64(9), object(3)
memory usage: 40.4+ MB

In [153]:
df_train.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000
mean,225398.667955,39.373153,31.256336,15.807494,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.918550,12.442369,17.255727,8.586242,3.070218,8.258063,240.803001,8.596208,0.495477
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [154]:
df_train.iloc[0:1]

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0

In [155]:
df_train.iloc[0:1,:-1]

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0

In [165]:
df_train["Gender"].replace({"Male":1,"Female":0}, inplace=True)
df_train["Subscription Type"].replace({"Basic":0,"Standard":1, "Premium":2}, inplace=True)
df_train["Contract Length"].replace({"Monthly":0,"Quarterly":1, "Annual":2}, inplace=True)

In [161]:
# df_train["Contract Length"].value_counts()

In [162]:
# # handeling the categorical features
# le = LabelEncoder()
# df_train['Gender'] = le.fit_transform(df_train['Gender'])
# df_train['Subscription Type'] = le.fit_transform(df_train['Subscription Type'])
# df_train['Contract Length'] = le.fit_transform(df_train['Contract Length'])
# df_train = df_train.dropna()
# df_train

In [166]:
print(df_train["Gender"].value_counts(normalize=True)*100)
print()
print(df_train["Subscription Type"].value_counts(normalize=True)*100)
print()
print(df_train["Contract Length"].value_counts(normalize=True)*100)

1.0    56.768111
0.0    43.231889
Name: Gender, dtype: float64

1.0    33.828760
2.0    33.726680
0.0    32.444559
Name: Subscription Type, dtype: float64

2.0    40.196265
1.0    40.044734
0.0    19.759001
Name: Contract Length, dtype: float64

In [145]:
# Churn data is balanced
print(df_train["Churn"].value_counts(normalize=True)*100)

1.0    56.71072
0.0    43.28928
Name: Churn, dtype: float64

In [146]:
#Spliting the feturea ans target column
X = df_train.drop(["CustomerID", "Churn"],axis=1)
y = df_train[["Churn"]]

In [147]:
# Spliting data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=10)

In [148]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((352666, 10), (88167, 10), (352666, 1), (88167, 1))

In [149]:
# Normalizing data with MinMax Scaller 
scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

ValueError: could not convert string to float: 'Male'

In [33]:
# Training the Clasification model 
lr_model = LogisticRegression()
lr_model.fit(X_train_scaled,y_train)

LogisticRegression()

In [34]:
# Prediction

# Training the Logistic Model 
lr_model = LogisticRegression()
lr_model.fit(X_train_scaled,y_train)

y_pred = lr_model.predict(X_test_scaled)

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 85.22
Precision Score: 88.14
Recall Score: 85.34
F1 Score Score: 86.72

In [35]:
# Prediction

# Training the Dicision Tree
tr_model = DecisionTreeClassifier(criterion="gini", max_depth=4, random_state= 40)
tr_model.fit(X=X_train_scaled,y=y_train)

y_pred = tr_model.predict(X_test_scaled)

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 95.39
Precision Score: 100.00
Recall Score: 91.84
F1 Score Score: 95.75

In [130]:
# Prediction

# Training the Dicision Tree
rf_model = RandomForestClassifier(criterion="gini", max_depth=4, random_state= 40)
rf_model.fit(X=X_train_scaled,y=y_train)

y_pred = rf_model.predict(X_test_scaled)

accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

ValueError: Found input variables with inconsistent numbers of samples: [352665, 352666]

In [19]:
## Out of Logistic, DicisionTree and RandomforestClassifier 
## RandomforestClassifier has good performance hence moving forward with this model

## Save model

In [37]:
joblib.dump(rf_model, r"app/rf_chrun_model.pkl")

['app/rf_chrun_model.pkl']

In [21]:
## prediction on testing data

In [38]:

df_test = pd.read_csv(r"data/customer_churn_dataset-testing-master.csv")
df_train.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,0,39.0,14.0,5.0,18.0,2,0,932.0,17.0,1.0
1,3.0,65.0,0,49.0,1.0,10.0,8.0,0,1,557.0,6.0,1.0

In [72]:
df_train.iloc[0:1,:-1].to_numpy()

array([[2.0, 30.0, 'Female', 39.0, 14.0, 5.0, 18.0, 'Standard', 'Annual',
        932.0, 17.0]], dtype=object)

In [40]:
def pre_process(df):
    le = LabelEncoder()
    df['Gender'] = le.fit_transform(df['Gender'])
    df['Subscription Type'] = le.fit_transform(df['Subscription Type'])
    df['Contract Length'] = le.fit_transform(df['Contract Length'])
    df = df.dropna()

    X = df_train.drop(["CustomerID", "Churn"],axis=1)
    y = df_train[["Churn"]]

    # Normalizing data with MinMax Scaller 
    scaler = MinMaxScaler()

    X_test_scaled = scaler.fit_transform(X)

    return X_test_scaled, y

In [41]:
X_test_scaled, y_test = pre_process(df_test)

In [177]:
# Load Model 

RF_Model = joblib.load(r"app/rf_chrun_model.pkl")
y_pred = RF_Model.predict(X_test_scaled)

In [49]:
X_test_scaled.shape

(440832, 10)

In [45]:
accuracy  = accuracy_score(y_test, y_pred) * 100
precision = precision_score(y_test, y_pred) * 100
recall    =  recall_score(y_test, y_pred) * 100
f1        =  f1_score(y_test, y_pred) * 100

print(f"accuracy Score: {accuracy:.2f}")
print(f"Precision Score: {precision:.2f}")
print(f"Recall Score: {recall:.2f}")
print(f"F1 Score Score: {f1:.2f}")

accuracy Score: 95.22
Precision Score: 99.43
Recall Score: 92.09
F1 Score Score: 95.62

In [91]:
df1 = df_train.iloc[0:1,:-1]
columns_list = list(df1.columns)
columns_list

['CustomerID',
 'Age',
 'Gender',
 'Tenure',
 'Usage Frequency',
 'Support Calls',
 'Payment Delay',
 'Subscription Type',
 'Contract Length',
 'Total Spend',
 'Last Interaction']

In [93]:
values = list(df1.to_numpy()[0])
values

[2.0, 30.0, 'Female', 39.0, 14.0, 5.0, 18.0, 'Standard', 'Annual', 932.0, 17.0]

In [169]:
json_data = {}

for i in range(len(values)):
    key = columns_list[i]
    value = values[i]
    json_data[key] = value
json_data = [json_data]

In [202]:
json_data = [
 {'CustomerID': 2.0,
  'Age': 30.0,
  'Gender': 'Female',
  'Tenure': 39.0,
  'Usage Frequency': 14.0,
  'Support Calls': 5.0,
  'Payment Delay': 18.0,
  'Subscription Type': 'Standard',
  'Contract Length': 'Annual',
  'Total Spend': 932.0,
  'Last Interaction': 17.0},

   {'CustomerID': 3.0,
  'Age': 65,
  'Gender': 'Male',
  'Tenure': 20,
  'Usage Frequency': 7,
  'Support Calls': 5.0,
  'Payment Delay': 3,
  'Subscription Type': 'Premium',
  'Contract Length': 'Monthly',
  'Total Spend': 400,
  'Last Interaction': 10}

]

In [208]:
df = pd.DataFrame(json_data)

In [210]:
lst = df["CustomerID"].to_list()
len(lst)

2

In [ ]:
df.drop("CustomerID", axis=1,inplace=True)

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0

In [175]:
df["Gender"].replace({"Male":1,"Female":0}, inplace=True)
df["Subscription Type"].replace({"Basic":0,"Standard":1, "Premium":2}, inplace=True)
df["Contract Length"].replace({"Monthly":0,"Quarterly":1, "Annual":2}, inplace=True)

In [229]:
def predict(json_data):
    df = pd.DataFrame(json_data)
    CustomerID_lst = df["CustomerID"].to_list()
    df.drop("CustomerID", axis=1,inplace=True)
    df["Gender"].replace({"Male":1,"Female":0}, inplace=True)
    df["Subscription Type"].replace({"Basic":0,"Standard":1, "Premium":2}, inplace=True)
    df["Contract Length"].replace({"Monthly":0,"Quarterly":1, "Annual":2}, inplace=True)

    # Normalizing data with MinMax Scaller 
    scaler = MinMaxScaler()
    df_scaled= scaler.fit_transform(df)
    prediction = RF_Model.predict(df_scaled)
 
    result = []
    for i in range(len(CustomerID_lst)):
        output = {"CustomerID": lst[i], "prediction":prediction[i]}
        result.append(output)
    return result

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
78721,24.0,Female,54.0,21.0,4.0,13.0,Basic,Annual,378.00,28.0
52663,42.0,Female,35.0,11.0,2.0,27.0,Standard,Monthly,396.00,26.0
76520,19.0,Male,10.0,8.0,8.0,17.0,Standard,Annual,343.00,7.0
259218,41.0,Female,2.0,8.0,0.0,18.0,Standard,Quarterly,542.50,4.0
404580,18.0,Female,12.0,14.0,1.0,19.0,Standard,Annual,801.17,3.0
...,...,...,...,...,...,...,...,...,...,...
57850,54.0,Female,32.0,22.0,10.0,19.0,Standard,Quarterly,582.00,21.0
266313,38.0,Male,11.0,15.0,3.0,17.0,Standard,Annual,541.40,7.0
39734,50.0,Male,57.0,22.0,8.0,0.0,Standard,Annual,245.00,28.0
134079,34.0,Male,19.0,27.0,4.0,9.0,Basic,Monthly,133.00,2.0
3542,64.0,Male,12.0,2.0,3.0,27.0,Standard,Monthly,251.00,5.0

In [203]:
json_data

[{'CustomerID': 2.0,
  'Age': 30.0,
  'Gender': 'Female',
  'Tenure': 39.0,
  'Usage Frequency': 14.0,
  'Support Calls': 5.0,
  'Payment Delay': 18.0,
  'Subscription Type': 'Standard',
  'Contract Length': 'Annual',
  'Total Spend': 932.0,
  'Last Interaction': 17.0},
 {'CustomerID': 3.0,
  'Age': 65,
  'Gender': 'Male',
  'Tenure': 20,
  'Usage Frequency': 7,
  'Support Calls': 5.0,
  'Payment Delay': 3,
  'Subscription Type': 'Premium',
  'Contract Length': 'Monthly',
  'Total Spend': 400,
  'Last Interaction': 10}]

In [228]:
prediction = predict(json_data)
prediction

[{'CustomerID': 2.0, 'prediction': 1.0},
 {'CustomerID': 3.0, 'prediction': 1.0}]